ul.timeline, .timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before, .timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #4ca392;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.text-original-green{
    color: #4ca392
}
.text-black{
    color: #000000
}

#carouselExampleCaptions{
  width: 720px;
}

.fig-atras {
    background-image: url("../img/kellin5.jpeg");
    background-size: 25% 25%;
    background-position: center center;
    /*background-position: top right;*/
    background-repeat: no-repeat;

    background-attachment: fixed;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
.map-responsive{
    overflow:hidden;
    padding-bottom:360px;
    margin-bottom:10px;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    border: 0px;
    height:360px;
    width:100%;
    position:absolute;
}

.copyright {
    color: #646464 !important;
    font-size: 12px;
}

/*
29564d - verde escuro

4ca392 - Original

100%         #ffffff
95%          #eef6f5
90%          #ddeeeb    ***
85%          #cce5e1
80%          #bbddd7
75%          #aad4cd
70%          #99ccc2
65%          #88c3b8
60%          #77bbae
55%          #66b2a4
50%          #55aa9a
45%          #4d998b    ***
40%          #44887b
35%          #3c776c
30%          #33665c
25%          #2b554d
20%          #22443e
15%          #1a332e
10%          #11221f
05%          #09110f
00%          #000000
*/




/*
.btn-success {
    color: #fff;
    background-color: #4ca392;
    border-color: #4ca392;
}
.btn-success:hover {
    color: #fff;
    background-color: #29564d;
    border-color: #22443e;
}
.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: #29564d;
    border-color: #22443e;
    box-shadow: 0 0 0 0.2rem rgba(77, 153, 139, 0.5);
}
.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #11221f;
    border-color: #11221f;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 153, 139, 0.5);
}

*/
.section-title, h2 {
    content: 'xx';
    width: 30px;
    /*height: 3px;*/
    padding-bottom: 10px;
    border: 0;
    border-bottom: 3px solid #4ca392;
    left: calc(50% - 25px);
}


/*******************************/
/* Navar -- Barra de navegacao */
/*******************************/
.navbar{
  background-color:  #29564d;
}
/*ul.navbar-nav{
  border: 3px solid red;
}
*/
a.nav-item{
    padding-left: 7px;
    padding-right: 7px;
} 

ul.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-nav>li {
    display: inline-block;
    margin-left: 20px;
}

.navbar-nav>li>a, a.navbar-link {
    text-decoration: none;
    color: #ddeeeb!important; /*verde claro*/
}
.navbar-nav>li>a:hover, a.navbar-link:hover {
    text-decoration: none;
    color: #4d998b!important; /*verde escuro*/ 
}
.navbar-nav>li>a i {
    margin-right: 10px;
}

/***********************/
/* Header -- Cabecalho */
/***********************/
header{

  color: white;
    /*background-color: #bbddd700;*/
/*    background-color: #c9e9d4;
    margin-top: 40px; 
*/
    /*background-size: 50%;*/
    /*background-repeat: repeat;*/
    /*background-attachment: fixed;*/
    height: 800px;
    margin-top: 40px; 
}

.jumbotron{
      height: 100%;
    background-image: url("../img/samira.jpg");
    background-position: center center;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}
.imagem{
  width: 90px;
}

.message {
    width: 50%;
    height: auto;
    margin: 50px auto;
    padding: 40px;
    background-color: #ddeeebbb;
    border-radius: 15px;
    position:relative;
}

.img-fluid-test{
  width:180px;
}
.active{
    border-width: 5px;
    border-color: #4ca392;
}

.resize{ 
    display: block; 
}

@media screen and (max-width: 768px) {
    .message {
        width: 70%;
        /*max-height: 70%;*/
        padding: 35px;
    }
    /*.container {
        margin-top: 30px;
    }*/
    header{
        height: 100%;
    }
    h1.display-4{
      font-size: 30px;
      font-weight: normal;
    }
    p.lead{
      font-size: 14px;
      font-weight: normal;
    }
    p.info{
      margin-top: 200px;
    }
    .imagem{
      width: 60px;
    }
    .resize{ display: none; }
}

@media screen and (max-width: 650px) {
    .message {
        width: 70%;
        /*max-height: 70%;*/
        padding: 15px;
    }
    header{
        height: 100%;
    }
    h1.display-4{
      font-size: 30px;
      font-weight: normal;
    }
    p.lead{
      font-size: 14px;
      font-weight: normal;
    }
    p.info{
      margin-top: 200px;
    }
    .imagem{
      width: 60px;
    }
    .resize{ display: none; }

}

ul.no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.zoom {
  /*padding: 50px;*/
  transition: transform .2s; /* Animation */
  /*margin: 0 auto;*/
}

.zoom:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 3px solid #4ca392;
}
.img-fluid{
display: block
}


